@tailwind base;
@tailwind components;
@tailwind utilities;

/* marquee */
.marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
}

.marquee div {
  animation: scroll-left 10s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-250%);
  }
}

@media (min-width: 1024px) {
  .marquee div {
    animation: scroll-left 20s linear infinite;
  }
}
